In [3]:
import pandas as pd
import numpy as np

In [4]:
dataTest = pd.read_csv("MeTooMMD_test.csv")

In [5]:
dataTest.head()

               TweetId
0  1052098589466349568
1  1052098315687346177
2  1052098267608207360
3  1052098149727137792
4  1052098136007532544

In [6]:
dataText = pd.read_csv("SubmissionTextRF1(1700.3000.20.42).csv")

In [7]:
len(dataText)

1739

In [8]:
lstimage = []
for i in range(len(dataText)):
    lstimage.append(1)

In [9]:
len(lstimage)

1739

In [10]:
dataText['Image_Only_Informative'] = lstimage

In [11]:
dataText.head()

                    id  Text_Only_Informative  Image_Only_Informative
0  1052098315687346177                      1                       1
1  1052084623763591168                      1                       1
2  1052089712004014083                      1                       1
3  1052089572870385665                      1                       1
4  1052089363667017728                      1                       1

In [12]:
full_data12 = pd.merge(dataTest, dataText, left_on='TweetId', right_on='id', how='left').drop('id', axis=1)

In [13]:
full_data12.head()

               TweetId  Text_Only_Informative  Image_Only_Informative
0  1052098589466349568                    1.0                     1.0
1  1052098315687346177                    1.0                     1.0
2  1052098267608207360                    1.0                     1.0
3  1052098149727137792                    1.0                     1.0
4  1052098136007532544                    1.0                     1.0

In [14]:
full_data12.isnull().sum()

TweetId                     0
Text_Only_Informative     256
Image_Only_Informative    256
dtype: int64

In [15]:
dataDH = pd.read_csv("SubmissionNB5(350.200.25.42).csv")

In [16]:
dataDH.head()

                    id  Directed_Hate
0  1052098315687346177              0
1  1052084623763591168              1
2  1052089712004014083              0
3  1052089572870385665              1
4  1052089363667017728              0

In [17]:
full_data123 = pd.merge(full_data12, dataDH, left_on='TweetId', right_on='id', how='left').drop('id', axis=1)

In [18]:
full_data123.head()

,TweetId,Text_Only_Informative,Image_Only_Informative,Directed_Hate
0,1052098589466349568,1.0,1.0,0.0
1,1052098315687346177,1.0,1.0,0.0
2,1052098267608207360,1.0,1.0,1.0
3,1052098149727137792,1.0,1.0,1.0
4,1052098136007532544,1.0,1.0,1.0

In [19]:
dataGH = pd.read_csv("SubmissionGHNB2(350.140.20.42).csv")

In [20]:
dataGH.head()

                    id  Generalized_Hate
0  1052098315687346177                 0
1  1052084623763591168                 0
2  1052089712004014083                 0
3  1052089572870385665                 1
4  1052089363667017728                 0

In [21]:
full_data1234 = pd.merge(full_data123, dataGH, left_on='TweetId', right_on='id', how='left').drop('id', axis=1)

In [22]:
full_data1234.head()

,TweetId,Text_Only_Informative,Image_Only_Informative,Directed_Hate,Generalized_Hate
0,1052098589466349568,1.0,1.0,0.0,1.0
1,1052098315687346177,1.0,1.0,0.0,0.0
2,1052098267608207360,1.0,1.0,1.0,1.0
3,1052098149727137792,1.0,1.0,1.0,0.0
4,1052098136007532544,1.0,1.0,1.0,0.0

In [23]:
dataSar = pd.read_csv("SubmissionSarRF1(450.110.20.42).csv")

In [24]:
dataSar.head()

                    id  Sarcasm
0  1052098315687346177        0
1  1052084623763591168        1
2  1052089712004014083        0
3  1052089572870385665        0
4  1052089363667017728        0

In [25]:
full_data12345 = pd.merge(full_data1234, dataSar, left_on='TweetId', right_on='id', how='left').drop('id', axis=1)

In [26]:
full_data12345.head()

,TweetId,Text_Only_Informative,Image_Only_Informative,Directed_Hate,Generalized_Hate,Sarcasm
0,1052098589466349568,1.0,1.0,0.0,1.0,1.0
1,1052098315687346177,1.0,1.0,0.0,0.0,0.0
2,1052098267608207360,1.0,1.0,1.0,1.0,1.0
3,1052098149727137792,1.0,1.0,1.0,0.0,0.0
4,1052098136007532544,1.0,1.0,1.0,0.0,0.0

In [27]:
dataAlleg = pd.read_csv("SubmissionAllegNB1(999.349.20.42).csv")

In [28]:
dataAlleg.head()

                    id  Allegation
0  1052098315687346177           0
1  1052084623763591168           1
2  1052089712004014083           0
3  1052089572870385665           0
4  1052089363667017728           0

In [29]:
full_data123456 = pd.merge(full_data12345, dataAlleg, left_on='TweetId', right_on='id', how='left').drop('id', axis=1)

In [30]:
full_data123456.head()

,TweetId,Text_Only_Informative,Image_Only_Informative,Directed_Hate,Generalized_Hate,Sarcasm,Allegation
0,1052098589466349568,1.0,1.0,0.0,1.0,1.0,0.0
1,1052098315687346177,1.0,1.0,0.0,0.0,0.0,0.0
2,1052098267608207360,1.0,1.0,1.0,1.0,1.0,1.0
3,1052098149727137792,1.0,1.0,1.0,0.0,0.0,0.0
4,1052098136007532544,1.0,1.0,1.0,0.0,0.0,1.0

In [31]:
dataJust = pd.read_csv("SubmissionJustRF1(800.210.20.42).csv")

In [32]:
dataJust.head()

                    id  Justification
0  1052098315687346177              0
1  1052084623763591168              1
2  1052089712004014083              0
3  1052089572870385665              0
4  1052089363667017728              0

In [33]:
full_data1234567 = pd.merge(full_data123456, dataJust, left_on='TweetId', right_on='id', how='left').drop('id', axis=1)

In [34]:
full_data1234567.head()

,TweetId,Text_Only_Informative,Image_Only_Informative,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification
0,1052098589466349568,1.0,1.0,0.0,1.0,1.0,0.0,0.0
1,1052098315687346177,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1052098267608207360,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1052098149727137792,1.0,1.0,1.0,0.0,0.0,0.0,0.0
4,1052098136007532544,1.0,1.0,1.0,0.0,0.0,1.0,0.0

In [35]:
dataRefut = pd.read_csv("SubmissionRefutRF2(440.111.20.42).csv")

In [36]:
dataRefut.head()

                    id  Refutation
0  1052098315687346177           0
1  1052084623763591168           1
2  1052089712004014083           0
3  1052089572870385665           1
4  1052089363667017728           0

In [37]:
full_data12345678 = pd.merge(full_data1234567, dataRefut, left_on='TweetId', right_on='id', how='left').drop('id', axis=1)

In [38]:
full_data12345678.head()

,TweetId,Text_Only_Informative,Image_Only_Informative,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation
0,1052098589466349568,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1052098315687346177,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1052098267608207360,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1052098149727137792,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1052098136007532544,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [39]:
dataSup = pd.read_csv("SubmissionSupNB1(4000.2110.20.42).csv")

In [40]:
dataSup.head()

                    id  Support
0  1052098315687346177        0
1  1052084623763591168        0
2  1052089712004014083        1
3  1052089572870385665        0
4  1052089363667017728        0

In [41]:
full_data123456789 = pd.merge(full_data12345678, dataSup, left_on='TweetId', right_on='id', how='left').drop('id', axis=1)

In [42]:
full_data123456789.head()

,TweetId,Text_Only_Informative,Image_Only_Informative,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support
0,1052098589466349568,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,1052098315687346177,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1052098267608207360,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,1052098149727137792,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1052098136007532544,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [43]:
dataOp = pd.read_csv("SubmissionOpNB1(900.450.20.42).csv")

In [44]:
dataOp.head()

                    id  Oppose
0  1052098315687346177       1
1  1052084623763591168       0
2  1052089712004014083       0
3  1052089572870385665       0
4  1052089363667017728       1

In [45]:
full_data12345678910 = pd.merge(full_data123456789, dataOp, left_on='TweetId', right_on='id', how='left').drop('id', axis=1)

In [46]:
full_data12345678910.head()

,TweetId,Text_Only_Informative,Image_Only_Informative,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,1052098589466349568,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1052098315687346177,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1052098267608207360,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
3,1052098149727137792,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1052098136007532544,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [47]:
len(full_data12345678910)

1995

In [48]:
full_data12345678910.isnull().sum()

TweetId                     0
Text_Only_Informative     256
Image_Only_Informative    256
Directed_Hate             256
Generalized_Hate          256
Sarcasm                   256
Allegation                256
Justification             256
Refutation                256
Support                   256
Oppose                    256
dtype: int64

In [49]:
full_data = full_data12345678910.fillna(0)

In [50]:
full_data.isnull().sum()

TweetId                   0
Text_Only_Informative     0
Image_Only_Informative    0
Directed_Hate             0
Generalized_Hate          0
Sarcasm                   0
Allegation                0
Justification             0
Refutation                0
Support                   0
Oppose                    0
dtype: int64

In [51]:
len(full_data)

1995

In [53]:
full_data.to_csv("SUBMITmain1.csv",index = False)

In [1]:
import pandas as pd

In [3]:
len(pd.read_csv("ReqdData.csv"))

6799

In [5]:
len(pd.read_csv("TestReqd.csv"))

1739

In [6]:
len(pd.read_csv("MeTooMMD_train.csv"))

7978

In [7]:
len(pd.read_csv("MeTooMMD_test.csv"))

1995

In [8]:
len(pd.read_csv("returnedTweetIdsTrain.csv"))

6816

In [9]:
data1 = pd.read_csv("ReqdData.csv")

In [10]:
data1.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"What a shock hey, Old Bill is in the clear &am...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"No Bucky, people are pissed off at ashleyperki...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,If Sarah Hanson Young thinks #BrettKavanuagh i...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,365 days\n19 million tweets\nOne powerful move...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,#HimToo: how an attempt to criticize #MeToo we...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
unknownIds = [1052113476670418944,
 1052109926867165185,
 1052105049747410945,
 1052107558167564288,
 1052107353808654336,
 1052111183413739520,
 1052112933012922368,
 1052109227152543744,
 1052113124948631552,
 1052111076819722240,
 1052107641458253824,
 1052099458236854273,
 1052099597823340544,
 1052114643961958400,
 1052102299471007744,
 1052110945885929473,
 1052107527616249858]

In [12]:
frame = pd.DataFrame

In [13]:
lstText =

TypeError: 'type' object does not support item assignment