In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
data =  pd.read_csv("ReqdData.csv")

In [3]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"What a shock hey, Old Bill is in the clear &am...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"No Bucky, people are pissed off at ashleyperki...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,If Sarah Hanson Young thinks #BrettKavanuagh i...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,365 days\n19 million tweets\nOne powerful move...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,#HimToo: how an attempt to criticize #MeToo we...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score

In [5]:
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [6]:
data['text']=data['text'].apply(round1)

In [7]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attacki...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days\n million tweets\none powerful movement\...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
from nltk.tokenize import word_tokenize
def token(list):
    return (word_tokenize(list))
data['text']=data['text'].apply(token)

In [9]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"[what, a, shock, hey, old, bill, is, in, the, ...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"[no, bucky, people, are, pissed, off, at, for,...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,"[if, sarah, hanson, young, thinks, brettkavanu...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,"[days, million, tweets, one, powerful, movemen...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,"[himtoo, how, an, attempt, to, criticize, meto...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
word_lem=WordNetLemmatizer()
for review in data['text']:
    for word in review:
        word_lem.lemmatize(word)
def untokenize(list):
    return ' '.join(list)
data['text']=data['text'].apply(untokenize)

In [11]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attackin...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days million tweets one powerful movement toda...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
textList = data['text']
DHtrain = data['Directed_Hate']
tweetId = data['id']

In [13]:
print(sum(DHtrain))

257.0

In [14]:
DHtrain.value_counts()

0.0    6542
1.0     257
Name: Directed_Hate, dtype: int64

In [15]:
DHtrainText0 = []
DHtrainText1 = []
#DHtrainText0 = {"text":data[data['Directed_Hate'] == 0]['text'], "ID":data[data['Directed_Hate'] == 0]['id'] }

In [16]:

#DHtrainText1 = {"text":[data[data['Directed_Hate'] == 1]['text']], "ID":[data[data['Directed_Hate'] == 1]['id']] }

In [17]:
print(DHtrainText0)

[]

In [18]:
df = pd.DataFrame()

In [19]:
type(df)

pandas.core.frame.DataFrame

In [540]:
lst0 = []
lst1 = []
text0  = []
text1 = []
id0 = []
id1 = []
count0 = 0
count1 = 0
for i in range(len(DHtrain)):
    if DHtrain[i] == 0:
        if count0 <=350 :
            lst0.append(0)
            text0.append(textList[i])
            id0.append(tweetId[i])
            count0 +=1
        else:
            pass
    else:
        if count1 <=200:
            lst1.append(1)
            text1.append(textList[i])
            id1.append(tweetId[i])
            count1+=1
        else:
            pass

print(len(id0))

351

In [541]:
df = pd.DataFrame()

In [542]:
df['id'] =id0+id1
df['text'] = text0+text1
df['Directed_Hate'] = lst0+lst1

In [543]:
df = df.sample(frac=1).reset_index(drop=True)

In [544]:
df.head()

,id,text,Directed_Hate
0,1051163527598284808,anjanettespeak beheard yesallwomen metoo churc...,1
1,1052105370091417601,metoo founder tarana burke reflects on the mov...,0
2,1048773251483103232,pity the metoo kavanaugh deplorablesrioters we...,0
3,1055034654149959680,amalaams releases a statement supporting leena...,1
4,1055037551650566145,subhasini mistry labourer receiving the padma ...,1

In [545]:
df.tail()

,id,text,Directed_Hate
547,1054741738022006784,vinod rai ’ s panel still to act despite two m...,1
548,1052174526400929794,the metoo movement fueled the national dialogu...,0
549,1051965039278780417,long before the metoo moment black women weigh...,0
550,1052135641570533376,metoo chetan bhagat ridicules ira trivedi ’ s ...,0
551,1051970600875495424,we almost sold out so we ’ re making available...,0

In [546]:
from sklearn.metrics import roc_auc_score

In [547]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], 
                                                    df['Directed_Hate'],test_size=0.25,
                                                    random_state=42)

In [548]:
count_vector = CountVectorizer(stop_words = 'english')

In [549]:
training_data = count_vector.fit_transform(X_train)

In [550]:
testing_data = count_vector.transform(X_test)

In [551]:
from sklearn.naive_bayes import MultinomialNB
#from sklearn.svm import SVC
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictionsNB = naive_bayes.predict(testing_data)

In [552]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsNB)))
print(sum(y_test),sum(predictionsNB))
print(roc_auc_score(y_test, predictionsNB))

Accuracy score:  0.6811594202898551
45 41
0.6258064516129033

In [553]:
from sklearn import svm
SVC_model = svm.SVC()
SVC_model.fit(training_data, y_train)
predictionsSVM = SVC_model.predict(testing_data)

In [554]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsSVM)))
print(sum(y_test),sum(predictionsSVM))
print(roc_auc_score(y_test, predictionsSVM))

Accuracy score:  0.7028985507246377
45 6
0.5501792114695341

In [555]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(training_data, y_train)

predictionsRF=clf.predict(testing_data)

In [556]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsRF)))
print(sum(y_test),sum(predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

Accuracy score:  0.7101449275362319
45 11
0.5727598566308244

In [557]:
lstTest0 = []
lstTest1 = []
textTest0  = []
textTest1 = []
idTest0 = []
idTest1 = []
#count0 = 0
#count1 = 0
for i in range(len(DHtrain)):
    if DHtrain[i] == 0:
        if tweetId[i] not in id0:
            lstTest0.append(0)
            textTest0.append(textList[i])
            idTest0.append(tweetId[i])
            #count0 +=1
        else:
            pass
    else:
        if tweetId[i] not in id1:
            lstTest1.append(1)
            textTest1.append(textList[i])
            idTest1.append(tweetId[i])
            #count1+=1
        else:
            pass

print(len(idTest1))

56

In [558]:
df2= pd.DataFrame()

In [559]:
df2['id'] =  idTest0+idTest1
df2['text'] = textTest0+textTest1
df2['Directed_Hate'] = lstTest0+lstTest1

In [560]:
testing_data2 = count_vector.transform(df2['text'])
y_test2 = df2['Directed_Hate']

In [561]:
predictionsNB2 = naive_bayes.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsNB2)))
print(sum(y_test2),sum(predictionsNB2))
print(roc_auc_score(y_test2, predictionsNB2))
#Directed_Hate
#350 0 and 250 1 training with 50%test 42RandomState gives AUC train - 0.6549739654699918 test - 0.5951650244979271 but very bad accuracy
#350 0 and 200 1 training with 20%test 42RandomState gives AUC train - 0.6050403225806451 test - 0.5621192629854397 but very bad accuracy better than top
#600 0 and 200 1 training with 20%test 42RandomState gives AUC train - 0.6067205360662199 test - 0.5768283958929473 but good accuracy(77.488%) better than top

Accuracy score:  0.5668320793981111
56 2720
0.5956529639799709

In [562]:
predictionsSVM2 = SVC_model.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsSVM2)))
print(sum(y_test2),sum(predictionsSVM2))
print(roc_auc_score(y_test2, predictionsSVM2))

Accuracy score:  0.9130782775732351
56 495
0.4960599487735653

In [563]:
predictionsRF2=clf.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsRF2)))
print(sum(y_test2),sum(predictionsRF2))
print(roc_auc_score(y_test2, predictionsRF2))

Accuracy score:  0.8407235473027053
56 959
0.5126421995061957

In [564]:
dataTest = pd.read_csv("TestReqd.csv")

In [565]:
dataTest.head()

,hashtags,id,possibly_sensitive,text
0,MeToo,1052098315687346177,False,Such insensitive words. But alll laughing and ...
1,MeToo MeTooIndia,1052084623763591168,False,Be like Kali... Supporting through art for #Me...
2,MeToo,1052089712004014083,False,Men Understand Consent When a Gay Guy Touches ...
3,MeToo,1052089572870385665,False,Priya Ramani is going to be fighting MJ Akbar’...
4,MeToo,1052089363667017728,False,Must see this video. Tells what is legal for #...

In [566]:
dataTest['text']=dataTest['text'].apply(round1)
dataTest['text']=dataTest['text'].apply(token)
for review in dataTest['text']:
    for word in review:
        word_lem.lemmatize(word)
dataTest['text']=dataTest['text'].apply(untokenize)

In [567]:
testing_dataMain = count_vector.transform(dataTest['text'])

In [568]:
predictionsNBTest = naive_bayes.predict(testing_dataMain)

In [569]:
predictionsSVMTest = SVC_model.predict(testing_dataMain)

In [570]:
dataTest['Directed_Hate'] = predictionsNBTest
dataTest.drop(['hashtags'], axis = 1, inplace = True)

In [571]:
dataTest.head()

,id,possibly_sensitive,text,Directed_Hate
0,1052098315687346177,False,such insensitive words but alll laughing and a...,0
1,1052084623763591168,False,be like kali supporting through art for metoo ...,1
2,1052089712004014083,False,men understand consent when a gay guy touches ...,0
3,1052089572870385665,False,priya ramani is going to be fighting mj akbar ...,1
4,1052089363667017728,False,must see this video tells what is legal for me...,0

In [572]:
dataTest.drop(['possibly_sensitive','text'], axis = 1, inplace = True)

In [573]:
dataTest.head()

                    id  Directed_Hate
0  1052098315687346177              0
1  1052084623763591168              1
2  1052089712004014083              0
3  1052089572870385665              1
4  1052089363667017728              0

In [575]:
dataTest.to_csv("SubmissionNB5(350.200.25.42).csv",index = False)

In [574]:
df.to_csv("HighestAUCnb5",index = False)