In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
data =  pd.read_csv("ReqdData.csv")

In [3]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"What a shock hey, Old Bill is in the clear &am...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"No Bucky, people are pissed off at ashleyperki...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,If Sarah Hanson Young thinks #BrettKavanuagh i...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,365 days\n19 million tweets\nOne powerful move...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,#HimToo: how an attempt to criticize #MeToo we...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score

In [5]:
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [6]:
data['text']=data['text'].apply(round1)

In [7]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attacki...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days\n million tweets\none powerful movement\...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
from nltk.tokenize import word_tokenize
def token(list):
    return (word_tokenize(list))
data['text']=data['text'].apply(token)

In [9]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"[what, a, shock, hey, old, bill, is, in, the, ...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"[no, bucky, people, are, pissed, off, at, for,...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,"[if, sarah, hanson, young, thinks, brettkavanu...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,"[days, million, tweets, one, powerful, movemen...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,"[himtoo, how, an, attempt, to, criticize, meto...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
word_lem=WordNetLemmatizer()
for review in data['text']:
    for word in review:
        word_lem.lemmatize(word)
def untokenize(list):
    return ' '.join(list)
data['text']=data['text'].apply(untokenize)

In [11]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attackin...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days million tweets one powerful movement toda...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
textList = data['text']
Suptrain = data['Support']
tweetId = data['id']

In [13]:
print(sum(Suptrain))

2164.0

In [14]:
Suptrain.value_counts()

0.0    4635
1.0    2164
Name: Support, dtype: int64

In [306]:
lst0 = []
lst1 = []
text0  = []
text1 = []
id0 = []
id1 = []
count0 = 0
count1 = 0
for i in range(len(Suptrain)):
    if Suptrain[i] == 0:
        if count0 <=4000:
            lst0.append(0)
            text0.append(textList[i])
            id0.append(tweetId[i])
            count0 +=1
        else:
            pass
    else:
        if count1 <=2110:
            lst1.append(1)
            text1.append(textList[i])
            id1.append(tweetId[i])
            count1+=1
        else:
            pass

print(len(id0))

4001

In [307]:
df = pd.DataFrame()

In [308]:
df['id'] =id0+id1
df['text'] = text0+text1
df['Support'] = lst0+lst1

In [309]:
df = df.sample(frac=1).reset_index(drop=True)

In [310]:
df.head()

,id,text,Support
0,1055407787633770496,subriss elisha landmark moment in manup with m...,1
1,1051250440879230976,bbcscotland bbcthesocial metoo movement and fe...,1
2,1050688920495710208,⁦⁦⁦ the power of privilege robynurback⁩ perspe...,1
3,1054231384091512832,it is not easy to talk about sexual harassment...,0
4,1055367171591806976,metoo my colleagues are washing dirty linen in...,1

In [311]:
df.tail()

,id,text,Support
6107,1051541925839351808,bartfernandes chantayyjayy terrolllewis felici...,0
6108,1050706487067140096,manu and abha gandhi holding metoo banner way ...,0
6109,1056777141969395713,so you are trying to tell me that it can actua...,0
6110,1053982264554471424,actress sanjjanagalrani shares her metoo incid...,1
6111,1056597434594484227,metoo metooindia this is the shocking reality ...,0

In [312]:
from sklearn.metrics import roc_auc_score

In [313]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], 
                                                    df['Support'],test_size=0.20,
                                                    random_state=42)

In [314]:
count_vector = CountVectorizer(stop_words = 'english')

In [315]:
training_data = count_vector.fit_transform(X_train)

In [316]:
testing_data = count_vector.transform(X_test)

In [317]:
from sklearn.naive_bayes import MultinomialNB
#from sklearn.svm import SVC
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictionsNB = naive_bayes.predict(testing_data)

In [318]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsNB)))
print(sum(y_test),sum(predictionsNB))
print(roc_auc_score(y_test, predictionsNB))

Accuracy score:  0.6058871627146362
450 198
0.5178367112261032

In [319]:
from sklearn import svm
SVC_model = svm.SVC()
SVC_model.fit(training_data, y_train)
predictionsSVM = SVC_model.predict(testing_data)

In [320]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsSVM)))
print(sum(y_test),sum(predictionsSVM))
print(roc_auc_score(y_test, predictionsSVM))

Accuracy score:  0.6263286999182338
450 33
0.5015078338364237

In [321]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(training_data, y_train)

predictionsRF=clf.predict(testing_data)

In [322]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsRF)))
print(sum(y_test),sum(predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

Accuracy score:  0.6091578086672118
450 196
0.5208883139284175

In [323]:
lstTest0 = []
lstTest1 = []
textTest0  = []
textTest1 = []
idTest0 = []
idTest1 = []
#count0 = 0
#count1 = 0
for i in range(len(Suptrain)):
    if Suptrain[i] == 0:
        if tweetId[i] not in id0:
            lstTest0.append(0)
            textTest0.append(textList[i])
            idTest0.append(tweetId[i])
            #count0 +=1
        else:
            pass
    else:
        if tweetId[i] not in id1:
            lstTest1.append(1)
            textTest1.append(textList[i])
            idTest1.append(tweetId[i])
            #count1+=1
        else:
            pass

print(len(idTest1))

53

In [324]:
df2= pd.DataFrame()

In [325]:
df2['id'] =  idTest0+idTest1
df2['text'] = textTest0+textTest1
df2['Support'] = lstTest0+lstTest1

In [326]:
testing_data2 = count_vector.transform(df2['text'])
y_test2 = df2['Support']

In [327]:
predictionsNB2 = naive_bayes.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsNB2)))
print(sum(y_test2),sum(predictionsNB2))
print(roc_auc_score(y_test2, predictionsNB2))

Accuracy score:  0.7030567685589519
53 181
0.5105946074638414

In [328]:
predictionsSVM2 = SVC_model.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsSVM2)))
print(sum(y_test2),sum(predictionsSVM2))
print(roc_auc_score(y_test2, predictionsSVM2))

Accuracy score:  0.86608442503639
53 47
0.5038241771323135

In [329]:
predictionsRF2=clf.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsRF2)))
print(sum(y_test2),sum(predictionsRF2))
print(roc_auc_score(y_test2, predictionsRF2))

Accuracy score:  0.6812227074235808
53 188
0.4641836795428843

In [330]:
dataTest = pd.read_csv("TestReqd.csv")

In [331]:
dataTest.head()

,hashtags,id,possibly_sensitive,text
0,MeToo,1052098315687346177,False,Such insensitive words. But alll laughing and ...
1,MeToo MeTooIndia,1052084623763591168,False,Be like Kali... Supporting through art for #Me...
2,MeToo,1052089712004014083,False,Men Understand Consent When a Gay Guy Touches ...
3,MeToo,1052089572870385665,False,Priya Ramani is going to be fighting MJ Akbar’...
4,MeToo,1052089363667017728,False,Must see this video. Tells what is legal for #...

In [332]:
dataTest['text']=dataTest['text'].apply(round1)
dataTest['text']=dataTest['text'].apply(token)
for review in dataTest['text']:
    for word in review:
        word_lem.lemmatize(word)
dataTest['text']=dataTest['text'].apply(untokenize)

In [333]:
testing_dataMain = count_vector.transform(dataTest['text'])

In [334]:
predictionsNBTest = naive_bayes.predict(testing_dataMain)

In [335]:
dataTest['Support'] = predictionsNBTest
dataTest.drop(['hashtags'], axis = 1, inplace = True)

In [336]:
dataTest.head()

,id,possibly_sensitive,text,Support
0,1052098315687346177,False,such insensitive words but alll laughing and a...,0
1,1052084623763591168,False,be like kali supporting through art for metoo ...,0
2,1052089712004014083,False,men understand consent when a gay guy touches ...,1
3,1052089572870385665,False,priya ramani is going to be fighting mj akbar ...,0
4,1052089363667017728,False,must see this video tells what is legal for me...,0

In [337]:
dataTest.drop(['possibly_sensitive','text'], axis = 1, inplace = True)

In [338]:
dataTest.head()

                    id  Support
0  1052098315687346177        0
1  1052084623763591168        0
2  1052089712004014083        1
3  1052089572870385665        0
4  1052089363667017728        0

In [339]:
dataTest.to_csv("SubmissionSupNB1(4000.2110.20.42).csv",index = False)

#submission 1 has 4000 0, 2110 1, 20%test data random state 42 AUC Train - 0.5178367112261032 Test - 0.5105946074638414 with ok accuracy(70%)

In [340]:
df.to_csv("Sup(AUC0.510)Dataset.csv",index = False)