In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
data =  pd.read_csv("full_dataTrain.csv")

In [3]:
data.head()

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,Text_Only_Informative,Image_Only_Informative,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,NaN,Mon Oct 15 20:53:43 +0000 2018,ImWithHer MeToo Hypocrites,https://twitter.com/Mr_Nobull/status/105193919...,NaN,1,1051939199195045890,NaN,NaN,NaN,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,NaN,Fri Oct 12 18:14:29 +0000 2018,MeToo,https://twitter.com/Resist_N0W/status/10508119...,NaN,6,1050811961011838977,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,NaN,Wed Oct 10 07:51:58 +0000 2018,BrettKavanuagh auspol sharrimarkson metoo,https://twitter.com/PetefromHayNSW/status/1049...,NaN,125,1049930526314782720,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,NaN,Mon Oct 15 02:30:07 +0000 2018,MeToo,https://twitter.com/AmnestyNZ/status/105166146...,NaN,3,1051661466837901313,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,NaN,Sun Oct 14 06:17:02 +0000 2018,HimToo MeToo,https://twitter.com/MichaelBCurran/status/1051...,https://buff.ly/2C9vFcS,0,1051356183402033152,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score

In [5]:
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [6]:
data['text']=data['text'].apply(round1)

In [7]:
data.head()

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,Text_Only_Informative,Image_Only_Informative,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,NaN,Mon Oct 15 20:53:43 +0000 2018,ImWithHer MeToo Hypocrites,https://twitter.com/Mr_Nobull/status/105193919...,NaN,1,1051939199195045890,NaN,NaN,NaN,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,NaN,Fri Oct 12 18:14:29 +0000 2018,MeToo,https://twitter.com/Resist_N0W/status/10508119...,NaN,6,1050811961011838977,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,NaN,Wed Oct 10 07:51:58 +0000 2018,BrettKavanuagh auspol sharrimarkson metoo,https://twitter.com/PetefromHayNSW/status/1049...,NaN,125,1049930526314782720,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,NaN,Mon Oct 15 02:30:07 +0000 2018,MeToo,https://twitter.com/AmnestyNZ/status/105166146...,NaN,3,1051661466837901313,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,NaN,Sun Oct 14 06:17:02 +0000 2018,HimToo MeToo,https://twitter.com/MichaelBCurran/status/1051...,https://buff.ly/2C9vFcS,0,1051356183402033152,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
from nltk.tokenize import word_tokenize
def token(list):
    return (word_tokenize(list))
data['text']=data['text'].apply(token)

In [9]:
data.columns

Index(['coordinates', 'created_at', 'hashtags', 'media', 'urls',
       'favorite_count', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
       'possibly_sensitive', 'retweet_count', 'reweet_id',
       'retweet_screen_name', 'source', 'text', 'tweet_url', 'user_created_at',
       'user_screen_name', 'user_default_profile_image', 'user_description',
       'user_favourites_count', 'user_followers_count', 'user_friends_count',
       'user_listed_count', 'user_location', 'user_name', 'user_screen_name.1',
       'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified',
       'Text_Only_Informative', 'Image_Only_Informative', 'Directed_Hate',
       'Generalized_Hate', 'Sarcasm', 'Allegation', 'Justification',
       'Refutation', 'Support', 'Oppose'],
      dtype='object')

In [10]:
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
word_lem=WordNetLemmatizer()
for review in data['text']:
    for word in review:
        word_lem.lemmatize(word)
def untokenize(list):
    return ' '.join(list)
data['text']=data['text'].apply(untokenize)

In [11]:
dataReqd = pd.read_csv("ReqdData.csv")

In [12]:
dataReqd.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"What a shock hey, Old Bill is in the clear &am...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"No Bucky, people are pissed off at ashleyperki...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,If Sarah Hanson Young thinks #BrettKavanuagh i...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,365 days\n19 million tweets\nOne powerful move...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,#HimToo: how an attempt to criticize #MeToo we...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
dataF = data.drop(['coordinates', 'created_at', 'hashtags', 'media', 'urls',
       'favorite_count', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
       'possibly_sensitive', 'retweet_count', 'reweet_id',
       'retweet_screen_name', 'source','tweet_url', 'user_created_at',
       'user_screen_name', 'user_default_profile_image', 'user_description',
       'user_favourites_count', 'user_followers_count', 'user_friends_count',
       'user_listed_count', 'user_location', 'user_name', 'user_screen_name.1',
       'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified','Image_Only_Informative', 'Directed_Hate',
       'Generalized_Hate', 'Sarcasm', 'Allegation', 'Justification',
       'Refutation', 'Support', 'Oppose'],axis =1)

In [14]:
dataR = dataReqd.drop(['text'],axis = 1)

In [15]:
dataMain = pd.merge(dataR, dataF, left_on='id', right_on='id', how='left')

In [16]:
dataMain.to_csv("MainData.csv")

In [17]:
dataMain.head()

,hashtags,id,possibly_sensitive,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose,text,Text_Only_Informative
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,what a shock hey old bill is in the clear amp ...,1.0
1,MeToo,1050811961011838977,False,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,no bucky people are pissed off at for attackin...,1.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,if sarah hanson young thinks brettkavanuagh is...,1.0
3,MeToo,1051661466837901313,False,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,days million tweets one powerful movement toda...,1.0
4,HimToo MeToo,1051356183402033152,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,himtoo how an attempt to criticize metoo went ...,0.0

In [26]:
textList = dataMain['text']
Texttrain = dataMain['Text_Only_Informative']
tweetId = dataMain['id']

In [27]:
print(sum(Texttrain))

4933.0

In [28]:
Texttrain.value_counts()

1.0    4933
0.0    1866
Name: Text_Only_Informative, dtype: int64

In [149]:
lst0 = []
lst1 = []
text0  = []
text1 = []
id0 = []
id1 = []
count0 = 0
count1 = 0
for i in range(len(Texttrain)):
    if Texttrain[i] == 0:
        if count0 <=1700 :
            lst0.append(0)
            text0.append(textList[i])
            id0.append(tweetId[i])
            count0 +=1
        else:
            pass
    else:
        if count1 <=4000:
            lst1.append(1)
            text1.append(textList[i])
            id1.append(tweetId[i])
            count1+=1
        else:
            pass

print(len(id0))

1701

In [150]:
df = pd.DataFrame()

In [151]:
df['id'] =id0+id1
df['text'] = text0+text1
df['Text_Only_Informative'] = lst0+lst1

In [152]:
df = df.sample(frac=1).reset_index(drop=True)

In [153]:
df.head()

,id,text,Text_Only_Informative
0,1050949333754015745,msu student raped woman hours after she left m...,1
1,1050790113343655937,melania trump says she supports men against me...,1
2,1050685917546115072,buy huawei pro and save up to only at amazon b...,1
3,1051422182721683456,consent metoo keepyourhandstoyourself it shoul...,1
4,1051973740790210561,“ conservative women don ’ t feel victimized ”...,0

In [154]:
df.tail()

,id,text,Text_Only_Informative
5697,1056211455404474369,metoo sanjay puran singh chauhan has been accu...,1
5698,1050895311391080448,meet the gop senate candidates who are still a...,0
5699,1054011637731082240,dedicated to those who are for or against meto...,0
5700,1054348465889636353,bignews prashanthsambargi slams chetankumar fo...,0
5701,1054482197741064192,via ciniadda arjunsruthi hariharan controversy...,1

In [155]:
from sklearn.metrics import roc_auc_score

In [156]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], 
                                                    df['Text_Only_Informative'],test_size=0.20,
                                                    random_state=42)

In [157]:
count_vector = CountVectorizer(stop_words = 'english')

In [158]:
training_data = count_vector.fit_transform(X_train)

In [159]:
testing_data = count_vector.transform(X_test)

In [160]:
from sklearn.naive_bayes import MultinomialNB
#from sklearn.svm import SVC
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictionsNB = naive_bayes.predict(testing_data)

In [161]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsNB)))
print(sum(y_test),sum(predictionsNB))
print(roc_auc_score(y_test, predictionsNB))

Accuracy score:  0.6801051709027169
797 1030
0.5240017069825801

In [162]:
from sklearn import svm
SVC_model = svm.SVC()
SVC_model.fit(training_data, y_train)
predictionsSVM = SVC_model.predict(testing_data)

In [163]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsSVM)))
print(sum(y_test),sum(predictionsSVM))
print(roc_auc_score(y_test, predictionsSVM))

Accuracy score:  0.6958808063102542
797 1104
0.5121622508826704

In [164]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(training_data, y_train)

predictionsRF=clf.predict(testing_data)

In [165]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsRF)))
print(sum(y_test),sum(predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

Accuracy score:  0.6625766871165644
797 998
0.516411470339354

In [166]:
lstTest0 = []
lstTest1 = []
textTest0  = []
textTest1 = []
idTest0 = []
idTest1 = []
#count0 = 0
#count1 = 0
for i in range(len(Texttrain)):
    if Texttrain[i] == 0:
        if tweetId[i] not in id0:
            lstTest0.append(0)
            textTest0.append(textList[i])
            idTest0.append(tweetId[i])
            #count0 +=1
        else:
            pass
    else:
        if tweetId[i] not in id1:
            lstTest1.append(1)
            textTest1.append(textList[i])
            idTest1.append(tweetId[i])
            #count1+=1
        else:
            pass

print(len(idTest1))

932

In [167]:
df2= pd.DataFrame()

In [168]:
df2['id'] =  idTest0+idTest1
df2['text'] = textTest0+textTest1
df2['Text_Only_Informative'] = lstTest0+lstTest1

In [169]:
testing_data2 = count_vector.transform(df2['text'])
y_test2 = df2['Text_Only_Informative']

In [170]:
predictionsNB2 = naive_bayes.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsNB2)))
print(sum(y_test2),sum(predictionsNB2))
print(roc_auc_score(y_test2, predictionsNB2))

Accuracy score:  0.7493163172288059
932 941
0.4983450383664976

In [171]:
predictionsSVM2 = SVC_model.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsSVM2)))
print(sum(y_test2),sum(predictionsSVM2))
print(roc_auc_score(y_test2, predictionsSVM2))

Accuracy score:  0.8040109389243391
932 1033
0.49063272207049036

In [172]:
predictionsRF2=clf.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsRF2)))
print(sum(y_test2),sum(predictionsRF2))
print(roc_auc_score(y_test2, predictionsRF2))

Accuracy score:  0.7520510483135825
932 938
0.5074359474574067

In [173]:
dataTest = pd.read_csv("TestReqd.csv")

In [174]:
dataTest.head()

,hashtags,id,possibly_sensitive,text
0,MeToo,1052098315687346177,False,Such insensitive words. But alll laughing and ...
1,MeToo MeTooIndia,1052084623763591168,False,Be like Kali... Supporting through art for #Me...
2,MeToo,1052089712004014083,False,Men Understand Consent When a Gay Guy Touches ...
3,MeToo,1052089572870385665,False,Priya Ramani is going to be fighting MJ Akbar’...
4,MeToo,1052089363667017728,False,Must see this video. Tells what is legal for #...

In [175]:
dataTest['text']=dataTest['text'].apply(round1)
dataTest['text']=dataTest['text'].apply(token)
for review in dataTest['text']:
    for word in review:
        word_lem.lemmatize(word)
dataTest['text']=dataTest['text'].apply(untokenize)

In [176]:
testing_dataMain = count_vector.transform(dataTest['text'])

In [177]:
predictionsNBTest = naive_bayes.predict(testing_dataMain)

In [178]:
predictionsRFTest = clf.predict(testing_dataMain)

In [179]:
dataTest['Text_Only_Informative'] = predictionsRFTest
#dataTest['Text_Only_Informative'] = predictionsNBTest
dataTest.drop(['hashtags'], axis = 1, inplace = True)

In [180]:
dataTest.head()

,id,possibly_sensitive,text,Text_Only_Informative
0,1052098315687346177,False,such insensitive words but alll laughing and a...,1
1,1052084623763591168,False,be like kali supporting through art for metoo ...,1
2,1052089712004014083,False,men understand consent when a gay guy touches ...,1
3,1052089572870385665,False,priya ramani is going to be fighting mj akbar ...,1
4,1052089363667017728,False,must see this video tells what is legal for me...,1

In [181]:
dataTest.drop(['possibly_sensitive','text'], axis = 1, inplace = True)

In [182]:
dataTest.head()

                    id  Text_Only_Informative
0  1052098315687346177                      1
1  1052084623763591168                      1
2  1052089712004014083                      1
3  1052089572870385665                      1
4  1052089363667017728                      1

In [183]:
dataTest.to_csv("SubmissionTextRF1(1700.4000.20.42).csv",index = False)

#submission 1 has 1700 0, 4000 1, 20%test data random state 42 AUC around 0.5

In [184]:
df.to_csv("Text(AUC0.50)Dataset.csv",index = False)