In [205]:
import pandas as pd
import numpy as np
import nltk

In [206]:
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [207]:
data =  pd.read_csv("MainData.csv")

In [208]:
data['text']=data['text'].apply(round1)

In [209]:
from nltk.tokenize import word_tokenize
def token(list):
    return (word_tokenize(list))
data['text']=data['text'].apply(token)

In [210]:
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
word_lem=WordNetLemmatizer()
for review in data['text']:
    for word in review:
        word_lem.lemmatize(word)
def untokenize(list):
    return ' '.join(list)
data['text']=data['text'].apply(untokenize)

In [211]:
textList = data['text']
Texttrain = data['Text_Only_Informative']
tweetId = data['id']

In [212]:
lst0 = []
lst1 = []
text0  = []
text1 = []
id0 = []
id1 = []
count0 = 0
count1 = 0
for i in range(len(Texttrain)):
    if Texttrain[i] == 0:
        if count0 <=1700 :
            lst0.append(0)
            text0.append(textList[i])
            id0.append(tweetId[i])
            count0 +=1
        else:
            pass
    else:
        if count1 <=4000:
            lst1.append(1)
            text1.append(textList[i])
            id1.append(tweetId[i])
            count1+=1
        else:
            pass

print(len(id0))

1701

In [213]:
df = pd.read_csv("Text(AUC0.50)Dataset.csv")

In [214]:
df.head()

,id,text,Text_Only_Informative
0,1050949333754015745,msu student raped woman hours after she left m...,1
1,1050790113343655937,melania trump says she supports men against me...,1
2,1050685917546115072,buy huawei pro and save up to only at amazon b...,1
3,1051422182721683456,consent metoo keepyourhandstoyourself it shoul...,1
4,1051973740790210561,“ conservative women don ’ t feel victimized ”...,0

In [215]:
lstTest0 = []
lstTest1 = []
textTest0  = []
textTest1 = []
idTest0 = []
idTest1 = []
#count0 = 0
#count1 = 0
for i in range(len(Texttrain)):
    if Texttrain[i] == 0:
        if tweetId[i] not in id0:
            lstTest0.append(0)
            textTest0.append(textList[i])
            idTest0.append(tweetId[i])
            #count0 +=1
        else:
            pass
    else:
        if tweetId[i] not in id1:
            lstTest1.append(1)
            textTest1.append(textList[i])
            idTest1.append(tweetId[i])
            #count1+=1
        else:
            pass

print(len(idTest1))

932

In [216]:
df2= pd.DataFrame()

In [217]:
df2['id'] =  idTest0+idTest1
df2['text'] = textTest0+textTest1
df2['Text_Only_Informative'] = lstTest0+lstTest1

In [218]:
df2.to_csv("TextTest(AUC0.50)Dataset.csv")

In [219]:
len(df2)

1097

In [220]:
len(df)

5702