In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score

In [3]:
df = pd.read_csv("Text(AUC0.50)Dataset.csv")

In [4]:
df.head()

,id,text,Text_Only_Informative
0,1050949333754015745,msu student raped woman hours after she left m...,1
1,1050790113343655937,melania trump says she supports men against me...,1
2,1050685917546115072,buy huawei pro and save up to only at amazon b...,1
3,1051422182721683456,consent metoo keepyourhandstoyourself it shoul...,1
4,1051973740790210561,“ conservative women don ’ t feel victimized ”...,0

In [5]:
df.tail()

,id,text,Text_Only_Informative
5697,1056211455404474369,metoo sanjay puran singh chauhan has been accu...,1
5698,1050895311391080448,meet the gop senate candidates who are still a...,0
5699,1054011637731082240,dedicated to those who are for or against meto...,0
5700,1054348465889636353,bignews prashanthsambargi slams chetankumar fo...,0
5701,1054482197741064192,via ciniadda arjunsruthi hariharan controversy...,1

In [6]:
from sklearn.metrics import roc_auc_score

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], 
                                                    df['Text_Only_Informative'],test_size=0.20,
                                                    random_state=42)

In [8]:
count_vector = CountVectorizer(stop_words = 'english')

In [9]:
training_data = count_vector.fit_transform(X_train)

In [10]:
testing_data = count_vector.transform(X_test)

In [11]:
from sklearn.naive_bayes import MultinomialNB

naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictionsNB = naive_bayes.predict(testing_data)

In [12]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsNB)))
print(sum(y_test),sum(predictionsNB))
print(roc_auc_score(y_test, predictionsNB))

Accuracy score:  0.6801051709027169
797 1030
0.5240017069825801

In [13]:
from sklearn import svm
SVC_model = svm.SVC()
SVC_model.fit(training_data, y_train)
predictionsSVM = SVC_model.predict(testing_data)

In [14]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsSVM)))
print(sum(y_test),sum(predictionsSVM))
print(roc_auc_score(y_test, predictionsSVM))

Accuracy score:  0.6958808063102542
797 1104
0.5121622508826704

In [15]:
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier(n_estimators=1000)


clf.fit(training_data, y_train)

predictionsRF=clf.predict(testing_data)

In [16]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsRF)))
print(sum(y_test),sum(predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

Accuracy score:  0.663453111305872
797 1005
0.5145604155116571

In [17]:
df2= pd.read_csv("TextTest(AUC0.50)Dataset.csv")

In [18]:
testing_data2 = count_vector.transform(df2['text'])
y_test2 = df2['Text_Only_Informative']

In [19]:
predictionsNB2 = naive_bayes.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsNB2)))
print(sum(y_test2),sum(predictionsNB2))
print(roc_auc_score(y_test2, predictionsNB2))

Accuracy score:  0.7493163172288059
932 941
0.4983450383664976

In [20]:
predictionsSVM2 = SVC_model.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsSVM2)))
print(sum(y_test2),sum(predictionsSVM2))
print(roc_auc_score(y_test2, predictionsSVM2))

Accuracy score:  0.8889704532941824
12 595
0.487040953957452

In [21]:
predictionsRF2=clf.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsRF2)))
print(sum(y_test2),sum(predictionsRF2))
print(roc_auc_score(y_test2, predictionsRF2))

Accuracy score:  0.8023490548724537
12 1071
0.5267840720985838

In [22]:
#after this own dataset can be used with necessary cleaning and classified