In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score

In [3]:
df = pd.read_csv("Alleg(AUC0.545)Dataset.csv")

In [4]:
df.head()

,id,text,Allegation
0,1052040264678866945,college student allegedly raped hours after at...,0
1,1051291610770751489,the times wants to hear how the metoo movement...,0
2,1051856460941012992,theview the bill amp monica situation was a co...,0
3,1051650208407277568,walkaway sundayfunday metoo is a joke,0
4,1051468141111496704,“ autumn is a second spring when every leaf is...,0

In [5]:
df.tail()

,id,text,Allegation
1345,1051570873671372800,metoo claims rejected by indian minister forme...,0
1346,1051307047587901440,tootsie remains charming even in the metoo era,0
1347,1052218673333587969,in my doctoral research i examined the lives o...,0
1348,1052248506000429056,yeah elizabethforma is legit metoo,0
1349,1051659518067793923,seriously how is “ all men ” rapeculture metoo...,0

In [6]:
from sklearn.metrics import roc_auc_score

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], 
                                                    df['Allegation'],test_size=0.20,
                                                    random_state=42)

In [8]:
count_vector = CountVectorizer(stop_words = 'english')

In [9]:
training_data = count_vector.fit_transform(X_train)

In [10]:
testing_data = count_vector.transform(X_test)

In [11]:
from sklearn.naive_bayes import MultinomialNB
#from sklearn.svm import SVC
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictionsNB = naive_bayes.predict(testing_data)

In [12]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsNB)))
print(sum(y_test),sum(predictionsNB))
print(roc_auc_score(y_test, predictionsNB))

Accuracy score:  0.7703703703703704
76 38
0.640124796527401

In [364]:
from sklearn import svm
SVC_model = svm.SVC()
SVC_model.fit(training_data, y_train)
predictionsSVM = SVC_model.predict(testing_data)

In [365]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsSVM)))
print(sum(y_test),sum(predictionsSVM))
print(roc_auc_score(y_test, predictionsSVM))

Accuracy score:  0.737037037037037
76 11
0.5448996201844818

In [366]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(training_data, y_train)

predictionsRF=clf.predict(testing_data)

In [367]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsRF)))
print(sum(y_test),sum(predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

Accuracy score:  0.762962962962963
76 20
0.5949538795442214

In [368]:
lstTest0 = []
lstTest1 = []
textTest0  = []
textTest1 = []
idTest0 = []
idTest1 = []
#count0 = 0
#count1 = 0
for i in range(len(Allegtrain)):
    if Allegtrain[i] == 0:
        if tweetId[i] not in id0:
            lstTest0.append(0)
            textTest0.append(textList[i])
            idTest0.append(tweetId[i])
            #count0 +=1
        else:
            pass
    else:
        if tweetId[i] not in id1:
            lstTest1.append(1)
            textTest1.append(textList[i])
            idTest1.append(tweetId[i])
            #count1+=1
        else:
            pass

print(len(idTest1))

12

In [369]:
df2= pd.DataFrame()

In [370]:
df2['id'] =  idTest0+idTest1
df2['text'] = textTest0+textTest1
df2['Allegation'] = lstTest0+lstTest1

In [371]:
testing_data2 = count_vector.transform(df2['text'])
y_test2 = df2['Allegation']

In [372]:
predictionsNB2 = naive_bayes.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsNB2)))
print(sum(y_test2),sum(predictionsNB2))
print(roc_auc_score(y_test2, predictionsNB2))

Accuracy score:  0.6727839970636814
12 1781
0.5450079700815401

In [373]:
predictionsSVM2 = SVC_model.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsSVM2)))
print(sum(y_test2),sum(predictionsSVM2))
print(roc_auc_score(y_test2, predictionsSVM2))

Accuracy score:  0.8889704532941824
12 595
0.487040953957452

In [374]:
predictionsRF2=clf.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsRF2)))
print(sum(y_test2),sum(predictionsRF2))
print(roc_auc_score(y_test2, predictionsRF2))

Accuracy score:  0.8005138557533492
12 1081
0.5258644473054994

In [375]:
dataTest = pd.read_csv("TestReqd.csv")

In [376]:
dataTest.head()

,hashtags,id,possibly_sensitive,text
0,MeToo,1052098315687346177,False,Such insensitive words. But alll laughing and ...
1,MeToo MeTooIndia,1052084623763591168,False,Be like Kali... Supporting through art for #Me...
2,MeToo,1052089712004014083,False,Men Understand Consent When a Gay Guy Touches ...
3,MeToo,1052089572870385665,False,Priya Ramani is going to be fighting MJ Akbar’...
4,MeToo,1052089363667017728,False,Must see this video. Tells what is legal for #...

In [377]:
dataTest['text']=dataTest['text'].apply(round1)
dataTest['text']=dataTest['text'].apply(token)
for review in dataTest['text']:
    for word in review:
        word_lem.lemmatize(word)
dataTest['text']=dataTest['text'].apply(untokenize)

In [378]:
testing_dataMain = count_vector.transform(dataTest['text'])

In [379]:
predictionsNBTest = naive_bayes.predict(testing_dataMain)

In [380]:
dataTest['Allegation'] = predictionsNBTest
dataTest.drop(['hashtags'], axis = 1, inplace = True)

In [381]:
dataTest.head()

,id,possibly_sensitive,text,Allegation
0,1052098315687346177,False,such insensitive words but alll laughing and a...,0
1,1052084623763591168,False,be like kali supporting through art for metoo ...,1
2,1052089712004014083,False,men understand consent when a gay guy touches ...,0
3,1052089572870385665,False,priya ramani is going to be fighting mj akbar ...,0
4,1052089363667017728,False,must see this video tells what is legal for me...,0

In [382]:
dataTest.drop(['possibly_sensitive','text'], axis = 1, inplace = True)

In [383]:
dataTest.head()

                    id  Allegation
0  1052098315687346177           0
1  1052084623763591168           1
2  1052089712004014083           0
3  1052089572870385665           0
4  1052089363667017728           0

In [384]:
dataTest.to_csv("SubmissionAllegNB1(999.349.20.42).csv",index = False)

#submission 1 has 999 0, 349 1, 20%test data random state 42 AUC Train - 0.640124796527401 Test - 0.5450079700815401 with bad accuracy(67%)

In [385]:
df.to_csv("Alleg(AUC0.545)Dataset.csv",index = False)