In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
data =  pd.read_csv("ReqdData.csv")

In [3]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"What a shock hey, Old Bill is in the clear &am...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"No Bucky, people are pissed off at ashleyperki...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,If Sarah Hanson Young thinks #BrettKavanuagh i...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,365 days\n19 million tweets\nOne powerful move...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,#HimToo: how an attempt to criticize #MeToo we...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score

In [5]:
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [6]:
data['text']=data['text'].apply(round1)

In [7]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attacki...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days\n million tweets\none powerful movement\...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
from nltk.tokenize import word_tokenize
def token(list):
    return (word_tokenize(list))
data['text']=data['text'].apply(token)

In [9]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"[what, a, shock, hey, old, bill, is, in, the, ...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"[no, bucky, people, are, pissed, off, at, for,...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,"[if, sarah, hanson, young, thinks, brettkavanu...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,"[days, million, tweets, one, powerful, movemen...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,"[himtoo, how, an, attempt, to, criticize, meto...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
word_lem=WordNetLemmatizer()
for review in data['text']:
    for word in review:
        word_lem.lemmatize(word)
def untokenize(list):
    return ' '.join(list)
data['text']=data['text'].apply(untokenize)

In [11]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attackin...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days million tweets one powerful movement toda...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
textList = data['text']
Justtrain = data['Justification']
tweetId = data['id']

In [13]:
print(sum(Justtrain))

227.0

In [14]:
Justtrain.value_counts()

0.0    6572
1.0     227
Name: Justification, dtype: int64

In [104]:
lst0 = []
lst1 = []
text0  = []
text1 = []
id0 = []
id1 = []
count0 = 0
count1 = 0
for i in range(len(Justtrain)):
    if Justtrain[i] == 0:
        if count0 <=800 :
            lst0.append(0)
            text0.append(textList[i])
            id0.append(tweetId[i])
            count0 +=1
        else:
            pass
    else:
        if count1 <=210:
            lst1.append(1)
            text1.append(textList[i])
            id1.append(tweetId[i])
            count1+=1
        else:
            pass

print(len(id0))

801

In [105]:
df = pd.DataFrame()

In [106]:
df['id'] =id0+id1
df['text'] = text0+text1
df['Justification'] = lst0+lst1

In [107]:
df = df.sample(frac=1).reset_index(drop=True)

In [108]:
df.head()

,id,text,Justification
0,1051976441519321089,heres the picture trump should have hanging in...,0
1,1051363135603572736,let us not doubt people who have made these re...,0
2,1053849876591591424,metoo actress accuses blah of sexual assault,1
3,1051588967395745792,with the metoo movement growing it is the hope...,0
4,1051587710060777472,metoo and you a conversation with rachael denh...,0

In [109]:
df.tail()

,id,text,Justification
1007,1052127834892881920,must read she speaks for all of us please insi...,0
1008,1051474357845782528,million tweets later a look at metoo a year af...,0
1009,1051605389475831813,metoo movement lawyers weigh in delay not a pr...,0
1010,1051129419509587968,metoo journalists protest in delhi say sexual ...,0
1011,1051539928344014848,whats next for metoo after kavanaughs confirma...,0

In [110]:
from sklearn.metrics import roc_auc_score

In [128]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], 
                                                    df['Justification'],test_size=0.20,
                                                    random_state=42)

In [129]:
count_vector = CountVectorizer(stop_words = 'english')

In [130]:
training_data = count_vector.fit_transform(X_train)

In [131]:
testing_data = count_vector.transform(X_test)

In [132]:
from sklearn.naive_bayes import MultinomialNB
#from sklearn.svm import SVC
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictionsNB = naive_bayes.predict(testing_data)

In [133]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsNB)))
print(sum(y_test),sum(predictionsNB))
print(roc_auc_score(y_test, predictionsNB))

Accuracy score:  0.8374384236453202
38 15
0.6164274322169059

In [134]:
from sklearn import svm
SVC_model = svm.SVC()
SVC_model.fit(training_data, y_train)
predictionsSVM = SVC_model.predict(testing_data)

In [135]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsSVM)))
print(sum(y_test),sum(predictionsSVM))
print(roc_auc_score(y_test, predictionsSVM))

Accuracy score:  0.8325123152709359
38 4
0.5526315789473684

In [136]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(training_data, y_train)

predictionsRF=clf.predict(testing_data)

In [137]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsRF)))
print(sum(y_test),sum(predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

Accuracy score:  0.8325123152709359
38 12
0.5931419457735247

In [138]:
lstTest0 = []
lstTest1 = []
textTest0  = []
textTest1 = []
idTest0 = []
idTest1 = []
#count0 = 0
#count1 = 0
for i in range(len(Justtrain)):
    if Justtrain[i] == 0:
        if tweetId[i] not in id0:
            lstTest0.append(0)
            textTest0.append(textList[i])
            idTest0.append(tweetId[i])
            #count0 +=1
        else:
            pass
    else:
        if tweetId[i] not in id1:
            lstTest1.append(1)
            textTest1.append(textList[i])
            idTest1.append(tweetId[i])
            #count1+=1
        else:
            pass

print(len(idTest1))

16

In [139]:
df2= pd.DataFrame()

In [140]:
df2['id'] =  idTest0+idTest1
df2['text'] = textTest0+textTest1
df2['Justification'] = lstTest0+lstTest1

In [141]:
testing_data2 = count_vector.transform(df2['text'])
y_test2 = df2['Justification']

In [142]:
predictionsNB2 = naive_bayes.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsNB2)))
print(sum(y_test2),sum(predictionsNB2))
print(roc_auc_score(y_test2, predictionsNB2))

Accuracy score:  0.7838258164852255
16 1239
0.45532619996534396

In [143]:
predictionsSVM2 = SVC_model.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsSVM2)))
print(sum(y_test2),sum(predictionsSVM2))
print(roc_auc_score(y_test2, predictionsSVM2))

Accuracy score:  0.9628477622256782
16 199
0.4827586206896552

In [144]:
predictionsRF2=clf.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsRF2)))
print(sum(y_test2),sum(predictionsRF2))
print(roc_auc_score(y_test2, predictionsRF2))

Accuracy score:  0.8358389493692759
16 948
0.6372216686882689

In [145]:
dataTest = pd.read_csv("TestReqd.csv")

In [146]:
dataTest.head()

,hashtags,id,possibly_sensitive,text
0,MeToo,1052098315687346177,False,Such insensitive words. But alll laughing and ...
1,MeToo MeTooIndia,1052084623763591168,False,Be like Kali... Supporting through art for #Me...
2,MeToo,1052089712004014083,False,Men Understand Consent When a Gay Guy Touches ...
3,MeToo,1052089572870385665,False,Priya Ramani is going to be fighting MJ Akbar’...
4,MeToo,1052089363667017728,False,Must see this video. Tells what is legal for #...

In [147]:
dataTest['text']=dataTest['text'].apply(round1)
dataTest['text']=dataTest['text'].apply(token)
for review in dataTest['text']:
    for word in review:
        word_lem.lemmatize(word)
dataTest['text']=dataTest['text'].apply(untokenize)

In [148]:
testing_dataMain = count_vector.transform(dataTest['text'])

In [149]:
predictionsNBTest = naive_bayes.predict(testing_dataMain)

In [150]:
predictionsRFTest = clf.predict(testing_dataMain)

In [151]:
dataTest['Justification'] = predictionsRFTest
#dataTest['Justification'] = predictionsNBTest
dataTest.drop(['hashtags'], axis = 1, inplace = True)

In [152]:
dataTest.head()

,id,possibly_sensitive,text,Justification
0,1052098315687346177,False,such insensitive words but alll laughing and a...,0
1,1052084623763591168,False,be like kali supporting through art for metoo ...,1
2,1052089712004014083,False,men understand consent when a gay guy touches ...,0
3,1052089572870385665,False,priya ramani is going to be fighting mj akbar ...,0
4,1052089363667017728,False,must see this video tells what is legal for me...,0

In [153]:
dataTest.drop(['possibly_sensitive','text'], axis = 1, inplace = True)

In [154]:
dataTest.head()

                    id  Justification
0  1052098315687346177              0
1  1052084623763591168              1
2  1052089712004014083              0
3  1052089572870385665              0
4  1052089363667017728              0

In [155]:
dataTest.to_csv("SubmissionJustRF1(800.210.20.42).csv",index = False)

#submission 1 has 800 0, 210 1, 20%test data random state 42 AUC Train - 0.5931419457735247 Test - 0.6372216686882689 with good accuracy(83%)

In [156]:
df.to_csv("Just(AUC0.63)Dataset.csv",index = False)