In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score

In [3]:
df = pd.read_csv("Op(AUC0.5715)Dataset.csv")

In [4]:
df.head()

,id,text,Oppose
0,1051828626214121472,tina tchen explains how metoo has worked — and...,1
1,1051979837383077889,mo state student allegedly raped hours after a...,0
2,1051732893674946560,kangana questions otherwiseproactive shabana ’...,0
3,1054293110551851008,arjun sarjas fatherinlaw rajesh makes allegati...,1
4,1051648363823685633,michelle obama vs melania trumps views on meto...,0

In [5]:
df.tail()

,id,text,Oppose
1347,1049464261867700225,chazortizz calling a person rapist without evi...,1
1348,1052248506000429056,yeah elizabethforma is legit metoo,0
1349,1050831919892578304,on the teen beat little mix pen track about me...,0
1350,1051090219276087296,metoo merch times up says rosie the riveter ce...,0
1351,1051241871492579328,atensnut come metoo hypocrites step up prove y...,0

In [6]:
from sklearn.metrics import roc_auc_score

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], 
                                                    df['Oppose'],test_size=0.20,
                                                    random_state=42)

In [8]:
count_vector = CountVectorizer(stop_words = 'english')

In [9]:
training_data = count_vector.fit_transform(X_train)

In [10]:
testing_data = count_vector.transform(X_test)

In [11]:
from sklearn.naive_bayes import MultinomialNB

naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictionsNB = naive_bayes.predict(testing_data)

In [12]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsNB)))
print(sum(y_test),sum(predictionsNB))
print(roc_auc_score(y_test, predictionsNB))

Accuracy score:  0.7121771217712177
92 52
0.6262752003886325

In [13]:
from sklearn import svm
SVC_model = svm.SVC()
SVC_model.fit(training_data, y_train)
predictionsSVM = SVC_model.predict(testing_data)

In [14]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsSVM)))
print(sum(y_test),sum(predictionsSVM))
print(roc_auc_score(y_test, predictionsSVM))

Accuracy score:  0.7306273062730627
92 25
0.6111853291231478

In [15]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(training_data, y_train)

predictionsRF=clf.predict(testing_data)

In [16]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsRF)))
print(sum(y_test),sum(predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

Accuracy score:  0.7269372693726938
92 36
0.6215994656303133

In [17]:
df2= pd.read_csv("OpTest(AUC0.5715)Dataset.csv")

In [18]:
testing_data2 = count_vector.transform(df2['text'])
y_test2 = df2['Oppose']

In [19]:
predictionsNB2 = naive_bayes.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsNB2)))
print(sum(y_test2),sum(predictionsNB2))
print(roc_auc_score(y_test2, predictionsNB2))

Accuracy score:  0.547457315953736
52 2475
0.5715708989805376

In [20]:
predictionsSVM2 = SVC_model.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsSVM2)))
print(sum(y_test2),sum(predictionsSVM2))
print(roc_auc_score(y_test2, predictionsSVM2))

Accuracy score:  0.7774921975399303
52 1190
0.535333642261353

In [21]:
predictionsRF2=clf.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsRF2)))
print(sum(y_test2),sum(predictionsRF2))
print(roc_auc_score(y_test2, predictionsRF2))

Accuracy score:  0.6943271525610428
52 1655
0.55048656163114

In [22]:
#after this own dataset can be used with necessary cleaning and classified