In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
data =  pd.read_csv("ReqdData.csv")

In [3]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"What a shock hey, Old Bill is in the clear &am...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"No Bucky, people are pissed off at ashleyperki...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,If Sarah Hanson Young thinks #BrettKavanuagh i...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,365 days\n19 million tweets\nOne powerful move...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,#HimToo: how an attempt to criticize #MeToo we...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score

In [5]:
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [6]:
data['text']=data['text'].apply(round1)

In [7]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attacki...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days\n million tweets\none powerful movement\...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
from nltk.tokenize import word_tokenize
def token(list):
    return (word_tokenize(list))
data['text']=data['text'].apply(token)

In [9]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"[what, a, shock, hey, old, bill, is, in, the, ...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"[no, bucky, people, are, pissed, off, at, for,...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,"[if, sarah, hanson, young, thinks, brettkavanu...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,"[days, million, tweets, one, powerful, movemen...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,"[himtoo, how, an, attempt, to, criticize, meto...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
word_lem=WordNetLemmatizer()
for review in data['text']:
    for word in review:
        word_lem.lemmatize(word)
def untokenize(list):
    return ' '.join(list)
data['text']=data['text'].apply(untokenize)

In [11]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attackin...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days million tweets one powerful movement toda...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
textList = data['text']
Optrain = data['Oppose']
tweetId = data['id']

In [19]:
print(sum(Optrain))

503.0

In [20]:
Optrain.value_counts()

0.0    6296
1.0     503
Name: Oppose, dtype: int64

In [245]:
lst0 = []
lst1 = []
text0  = []
text1 = []
id0 = []
id1 = []
count0 = 0
count1 = 0
for i in range(len(Optrain)):
    if Optrain[i] == 0:
        if count0 <=900 :
            lst0.append(0)
            text0.append(textList[i])
            id0.append(tweetId[i])
            count0 +=1
        else:
            pass
    else:
        if count1 <=450:
            lst1.append(1)
            text1.append(textList[i])
            id1.append(tweetId[i])
            count1+=1
        else:
            pass

print(len(id0))

901

In [246]:
df = pd.DataFrame()

In [247]:
df['id'] =id0+id1
df['text'] = text0+text1
df['Oppose'] = lst0+lst1

In [248]:
df = df.sample(frac=1).reset_index(drop=True)

In [249]:
df.head()

,id,text,Oppose
0,1055978684719480833,a metoo story in britain prompts debate over p...,1
1,1051825482994466817,hillaryclinton these are the women you didnt b...,1
2,1050505683970469889,here is hillaryclinton saying her husbands acc...,1
3,1050906020048986112,melania trump says she supports men against me...,0
4,1051034866551332864,you are a survivor setting the world on fire w...,1

In [250]:
df.tail()

,id,text,Oppose
1347,1050895486616399872,this is the panel i ’ m most excited about met...,1
1348,1048606748746166273,other ways to heal when you can ’ t tell your ...,0
1349,1051897761136701440,metoo bad men always win even though ravan was...,0
1350,1051479122986307584,pay it forward please help someone become a de...,0
1351,1051329004895113216,of women voted for realdonaldtrump in after re...,0

In [251]:
from sklearn.metrics import roc_auc_score

In [252]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], 
                                                    df['Oppose'],test_size=0.20,
                                                    random_state=42)

In [253]:
count_vector = CountVectorizer(stop_words = 'english')

In [254]:
training_data = count_vector.fit_transform(X_train)

In [255]:
testing_data = count_vector.transform(X_test)

In [256]:
from sklearn.naive_bayes import MultinomialNB
#from sklearn.svm import SVC
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictionsNB = naive_bayes.predict(testing_data)

In [257]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsNB)))
print(sum(y_test),sum(predictionsNB))
print(roc_auc_score(y_test, predictionsNB))

Accuracy score:  0.7306273062730627
90 55
0.6475138121546962

In [258]:
from sklearn import svm
SVC_model = svm.SVC()
SVC_model.fit(training_data, y_train)
predictionsSVM = SVC_model.predict(testing_data)

In [259]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsSVM)))
print(sum(y_test),sum(predictionsSVM))
print(roc_auc_score(y_test, predictionsSVM))

Accuracy score:  0.7380073800738007
90 25
0.6139349294045426

In [260]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(training_data, y_train)

predictionsRF=clf.predict(testing_data)

In [261]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsRF)))
print(sum(y_test),sum(predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

Accuracy score:  0.7121771217712177
90 38
0.602977286678944

In [262]:
lstTest0 = []
lstTest1 = []
textTest0  = []
textTest1 = []
idTest0 = []
idTest1 = []
#count0 = 0
#count1 = 0
for i in range(len(Optrain)):
    if Optrain[i] == 0:
        if tweetId[i] not in id0:
            lstTest0.append(0)
            textTest0.append(textList[i])
            idTest0.append(tweetId[i])
            #count0 +=1
        else:
            pass
    else:
        if tweetId[i] not in id1:
            lstTest1.append(1)
            textTest1.append(textList[i])
            idTest1.append(tweetId[i])
            #count1+=1
        else:
            pass

print(len(idTest1))

52

In [263]:
df2= pd.DataFrame()

In [264]:
df2['id'] =  idTest0+idTest1
df2['text'] = textTest0+textTest1
df2['Oppose'] = lstTest0+lstTest1

In [265]:
testing_data2 = count_vector.transform(df2['text'])
y_test2 = df2['Oppose']

In [266]:
predictionsNB2 = naive_bayes.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsNB2)))
print(sum(y_test2),sum(predictionsNB2))
print(roc_auc_score(y_test2, predictionsNB2))

Accuracy score:  0.5663668074169268
52 2364
0.5430259499536607

In [267]:
predictionsSVM2 = SVC_model.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsSVM2)))
print(sum(y_test2),sum(predictionsSVM2))
print(roc_auc_score(y_test2, predictionsSVM2))

Accuracy score:  0.7927299430879383
52 1103
0.5239805375347544

In [268]:
predictionsRF2=clf.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsRF2)))
print(sum(y_test2),sum(predictionsRF2))
print(roc_auc_score(y_test2, predictionsRF2))

Accuracy score:  0.716724802643657
52 1529
0.5427479147358666

In [161]:
dataTest = pd.read_csv("TestReqd.csv")

In [162]:
dataTest.head()

,hashtags,id,possibly_sensitive,text
0,MeToo,1052098315687346177,False,Such insensitive words. But alll laughing and ...
1,MeToo MeTooIndia,1052084623763591168,False,Be like Kali... Supporting through art for #Me...
2,MeToo,1052089712004014083,False,Men Understand Consent When a Gay Guy Touches ...
3,MeToo,1052089572870385665,False,Priya Ramani is going to be fighting MJ Akbar’...
4,MeToo,1052089363667017728,False,Must see this video. Tells what is legal for #...

In [163]:
dataTest['text']=dataTest['text'].apply(round1)
dataTest['text']=dataTest['text'].apply(token)
for review in dataTest['text']:
    for word in review:
        word_lem.lemmatize(word)
dataTest['text']=dataTest['text'].apply(untokenize)

In [164]:
testing_dataMain = count_vector.transform(dataTest['text'])

In [165]:
predictionsNBTest = naive_bayes.predict(testing_dataMain)

In [166]:
predictionsRFTest = clf.predict(testing_dataMain)

In [167]:
#dataTest['Oppose'] = predictionsRFTest
dataTest['Oppose'] = predictionsNBTest
dataTest.drop(['hashtags'], axis = 1, inplace = True)

In [168]:
dataTest.head()

,id,possibly_sensitive,text,Oppose
0,1052098315687346177,False,such insensitive words but alll laughing and a...,1
1,1052084623763591168,False,be like kali supporting through art for metoo ...,0
2,1052089712004014083,False,men understand consent when a gay guy touches ...,0
3,1052089572870385665,False,priya ramani is going to be fighting mj akbar ...,0
4,1052089363667017728,False,must see this video tells what is legal for me...,1

In [169]:
dataTest.drop(['possibly_sensitive','text'], axis = 1, inplace = True)

In [170]:
dataTest.head()

                    id  Oppose
0  1052098315687346177       1
1  1052084623763591168       0
2  1052089712004014083       0
3  1052089572870385665       0
4  1052089363667017728       1

In [171]:
dataTest.to_csv("SubmissionOpNB1(900.450.20.42).csv",index = False)

#submission 1 has 800 0, 450 1, 20%test data random state 42 AUC Train - 0.6469436813186814 Test - 0.5425351718345348 with bad accuracy
#submission 2 has 900 0, 450 1, 20%test data random state 42 AUC Train - 0.6262752003886325 Test - 0.5715708989805376 with bad accuracy

In [172]:
df.to_csv("Op(AUC0.5715)Dataset.csv",index = False)