In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
data =  pd.read_csv("ReqdData.csv")

In [3]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"What a shock hey, Old Bill is in the clear &am...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"No Bucky, people are pissed off at ashleyperki...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,If Sarah Hanson Young thinks #BrettKavanuagh i...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,365 days\n19 million tweets\nOne powerful move...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,#HimToo: how an attempt to criticize #MeToo we...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score

In [5]:
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [6]:
data['text']=data['text'].apply(round1)

In [7]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attacki...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days\n million tweets\none powerful movement\...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
from nltk.tokenize import word_tokenize
def token(list):
    return (word_tokenize(list))
data['text']=data['text'].apply(token)

In [9]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,"[what, a, shock, hey, old, bill, is, in, the, ...",1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,"[no, bucky, people, are, pissed, off, at, for,...",0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,"[if, sarah, hanson, young, thinks, brettkavanu...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,"[days, million, tweets, one, powerful, movemen...",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,"[himtoo, how, an, attempt, to, criticize, meto...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
word_lem=WordNetLemmatizer()
for review in data['text']:
    for word in review:
        word_lem.lemmatize(word)
def untokenize(list):
    return ' '.join(list)
data['text']=data['text'].apply(untokenize)

In [11]:
data.head()

,hashtags,id,possibly_sensitive,text,Directed_Hate,Generalized_Hate,Sarcasm,Allegation,Justification,Refutation,Support,Oppose
0,ImWithHer MeToo Hypocrites,1051939199195045890,False,what a shock hey old bill is in the clear amp ...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,MeToo,1050811961011838977,False,no bucky people are pissed off at for attackin...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,BrettKavanuagh auspol sharrimarkson metoo,1049930526314782720,False,if sarah hanson young thinks brettkavanuagh is...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MeToo,1051661466837901313,False,days million tweets one powerful movement toda...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,HimToo MeToo,1051356183402033152,False,himtoo how an attempt to criticize metoo went ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
textList = data['text']
Sartrain = data['Sarcasm']
tweetId = data['id']

In [13]:
print(sum(Sartrain))

141.0

In [14]:
Sartrain.value_counts()

0.0    6658
1.0     141
Name: Sarcasm, dtype: int64

In [549]:
lst0 = []
lst1 = []
text0  = []
text1 = []
id0 = []
id1 = []
count0 = 0
count1 = 0
for i in range(len(Sartrain)):
    if Sartrain[i] == 0:
        if count0 <=210 :
            lst0.append(0)
            text0.append(textList[i])
            id0.append(tweetId[i])
            count0 +=1
        else:
            pass
    else:
        if count1 <=110:
            lst1.append(1)
            text1.append(textList[i])
            id1.append(tweetId[i])
            count1+=1
        else:
            pass

print(len(id0))

211

In [550]:
df = pd.DataFrame()

In [551]:
df['id'] =id0+id1
df['text'] = text0+text1
df['Sarcasm'] = lst0+lst1

In [552]:
df = df.sample(frac=1).reset_index(drop=True)

In [553]:
df.head()

,id,text,Sarcasm
0,1052219641261580289,perspective metoo has a long way to go,0
1,1055058014510624769,check latest trends news entertainment busines...,1
2,1052286635298250752,dont fucking talk about hillaryclinton dont ke...,0
3,1052088713407270912,wow ðŸ˜² this has to stop ðŸ›‘ we have to impeach th...,0
4,1048656738985988096,uspoli realdonaldtrump scotus vs metoo by john...,0

In [554]:
df.tail()

,id,text,Sarcasm
317,1056516436535992321,some straight men not generalizing consent fem...,1
318,1052283099793350656,jvn what â€™ s the international numbersi â€™ m no...,0
319,1055812997808041984,six metoo stories you will not read about on t...,1
320,1054756836816154624,moroccan women refuse to be silenced and have ...,1
321,1052127532428931073,actress who helped trigger indias metoo moveme...,0

In [555]:
from sklearn.metrics import roc_auc_score

In [556]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], 
                                                    df['Sarcasm'],test_size=0.25,
                                                    random_state=42)

In [557]:
count_vector = CountVectorizer(stop_words = 'english')

In [558]:
training_data = count_vector.fit_transform(X_train)

In [559]:
testing_data = count_vector.transform(X_test)

In [560]:
from sklearn.naive_bayes import MultinomialNB
#from sklearn.svm import SVC
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictionsNB = naive_bayes.predict(testing_data)

In [561]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsNB)))
print(sum(y_test),sum(predictionsNB))
print(roc_auc_score(y_test, predictionsNB))

Accuracy score:  0.7037037037037037
30 16
0.6343137254901962

In [562]:
from sklearn import svm
SVC_model = svm.SVC()
SVC_model.fit(training_data, y_train)
predictionsSVM = SVC_model.predict(testing_data)

In [563]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsSVM)))
print(sum(y_test),sum(predictionsSVM))
print(roc_auc_score(y_test, predictionsSVM))

Accuracy score:  0.6419753086419753
30 1
0.5166666666666667

In [564]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(training_data, y_train)

predictionsRF=clf.predict(testing_data)

In [565]:
print('Accuracy score: ', format(accuracy_score(y_test, predictionsRF)))
print(sum(y_test),sum(predictionsRF))
print(roc_auc_score(y_test, predictionsRF))

Accuracy score:  0.6790123456790124
30 4
0.5666666666666667

In [566]:
lstTest0 = []
lstTest1 = []
textTest0  = []
textTest1 = []
idTest0 = []
idTest1 = []
#count0 = 0
#count1 = 0
for i in range(len(Sartrain)):
    if Sartrain[i] == 0:
        if tweetId[i] not in id0:
            lstTest0.append(0)
            textTest0.append(textList[i])
            idTest0.append(tweetId[i])
            #count0 +=1
        else:
            pass
    else:
        if tweetId[i] not in id1:
            lstTest1.append(1)
            textTest1.append(textList[i])
            idTest1.append(tweetId[i])
            #count1+=1
        else:
            pass

print(len(idTest1))

30

In [567]:
df2= pd.DataFrame()

In [568]:
df2['id'] =  idTest0+idTest1
df2['text'] = textTest0+textTest1
df2['Generalized_Hate'] = lstTest0+lstTest1

In [569]:
testing_data2 = count_vector.transform(df2['text'])
y_test2 = df2['Generalized_Hate']

In [570]:
predictionsNB2 = naive_bayes.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsNB2)))
print(sum(y_test2),sum(predictionsNB2))
print(roc_auc_score(y_test2, predictionsNB2))

Accuracy score:  0.7183881426586383
30 1812
0.5101675197766403

In [571]:
predictionsSVM2 = SVC_model.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsSVM2)))
print(sum(y_test2),sum(predictionsSVM2))
print(roc_auc_score(y_test2, predictionsSVM2))

Accuracy score:  0.9918171993206731
30 23
0.4982162246005894

In [572]:
predictionsRF2=clf.predict(testing_data2)
print('Accuracy score: ', format(accuracy_score(y_test2, predictionsRF2)))
print(sum(y_test2),sum(predictionsRF2))
print(roc_auc_score(y_test2, predictionsRF2))

Accuracy score:  0.9118419021151768
30 547
0.5078098340313324

In [456]:
dataTest = pd.read_csv("TestReqd.csv")

In [457]:
dataTest.head()

,hashtags,id,possibly_sensitive,text
0,MeToo,1052098315687346177,False,Such insensitive words. But alll laughing and ...
1,MeToo MeTooIndia,1052084623763591168,False,Be like Kali... Supporting through art for #Me...
2,MeToo,1052089712004014083,False,Men Understand Consent When a Gay Guy Touches ...
3,MeToo,1052089572870385665,False,Priya Ramani is going to be fighting MJ Akbarâ€™...
4,MeToo,1052089363667017728,False,Must see this video. Tells what is legal for #...

In [458]:
dataTest['text']=dataTest['text'].apply(round1)
dataTest['text']=dataTest['text'].apply(token)
for review in dataTest['text']:
    for word in review:
        word_lem.lemmatize(word)
dataTest['text']=dataTest['text'].apply(untokenize)

In [459]:
testing_dataMain = count_vector.transform(dataTest['text'])

In [460]:
predictionsNBTest = naive_bayes.predict(testing_dataMain)

In [461]:
predictionsRFTest = clf.predict(testing_dataMain)

In [462]:
dataTest['Sarcasm'] = predictionsRFTest
#dataTest['Sarcasm'] = predictionsNBTest
dataTest.drop(['hashtags'], axis = 1, inplace = True)

In [463]:
dataTest.head()

,id,possibly_sensitive,text,Sarcasm
0,1052098315687346177,False,such insensitive words but alll laughing and a...,0
1,1052084623763591168,False,be like kali supporting through art for metoo ...,1
2,1052089712004014083,False,men understand consent when a gay guy touches ...,0
3,1052089572870385665,False,priya ramani is going to be fighting mj akbar ...,0
4,1052089363667017728,False,must see this video tells what is legal for me...,0

In [464]:
dataTest.drop(['possibly_sensitive','text'], axis = 1, inplace = True)

In [465]:
dataTest.head()

                    id  Sarcasm
0  1052098315687346177        0
1  1052084623763591168        1
2  1052089712004014083        0
3  1052089572870385665        0
4  1052089363667017728        0

In [466]:
dataTest.to_csv("SubmissionSarRF1(450.110.20.42).csv",index = False)

#submission 1 has 450 0, 110 1, 20%test data random state 42 AUC Train - 0.5696236559139785 Test - 0.5316175285967457 with good accuracy(89%)

In [467]:
df.to_csv("Sar(AUC0.53)Dataset.csv",index = False)